<nav class="main-nav">
    <span class="menu-icon-close"><i class="fa fa-times" aria-hidden="true"></i></span>
    <ul>
        <li><a href="{{site.baseurl}}{% link index.md %}">Home</a></li>
        <li><a href="{{site.baseurl}}{% link about.md %}">About</a></li>
        <li><a href="{{site.baseurl}}{% link tools.md %}">Tools</a></li>
        <li><a href="{{site.baseurl}}{% link reports.md %}">Reports</a></li>
        <li><a><em>Topics</em></a></li>
        {% for topic in site.topics %}
            <li><a href="{{ topic.link | relative_url }}">{{ topic.title }}</a></li>
        {% endfor %}
    </ul>
</nav>