<h2>Improve Māori wellbeing through <br/>informed decisions</h2>

<h3>Access data from reputable sources that is free for you to take and use.</h3>

<ol class="post-card-box clearfix">
  <li class="site-options">
    <img src="{{site.baseurl}}/assets/img/layout/charts.png">
    <span class="caption">
      <h4>Explore topics and charts</h4>
      <p>See interactive charts, data sources, definitions, and how and why data was collected. Take and use charts and data for free.</p>
    </span>
  </li>
  <li class="site-options">
    <img src="{{site.baseurl}}/assets/img/layout/tools.png">
    <span class="caption">
      <h4>Try out tools</h4>
      <p>Use interactive data tools to examine issues like the impacts of COVID-19 on different types of jobs.</p>
    </span>
  </li>
  <li class="site-options">
    <img src="{{site.baseurl}}/assets/img/layout/resources.png">
    <span class="caption">
      <h4>Read reports and presentations</h4>
      <p>Get information that supports your use of data and provides a deeper understanding of te Ao Māori through the lens of data</p>
    </span>
  </li>
</ol>

If you have questions, feedback, or can't find the data you're looking for, email <data@figure.nz>