<h2>Improve Māori wellbeing through <br/>informed decisions</h2>
<section class="content wrapper text">
<p>To work towards a better future, we also need to understand how and why the world is changing. Data is a vital tool to help us understand, measure, manage, and assess issues and the impact of the changes we make.</p>
<p>{{site.title}} brings together data, tools, and reports on Te Ao Māori. You can access data from reputable sources that is free for you to take and use.</p>
</section>
<section class="pagemenu">
  <div>
  <a href="{{site.baseurl}}/#topics">
      <img src="{{site.baseurl}}/assets/img/layout/explore.png">
      <span class="caption">
        <h4>Explore topics and charts</h4>
        <p>See interactive charts, data sources, definitions, and how and why data was collected. Take and use charts and data for free.</p>
        <button class="close-button">See topics</button>
      </span>
    </a>    
  </div>
  <div>
  <a href="{{site.baseurl}}/tools">
      <img src="{{site.baseurl}}/assets/img/layout/tools.png">
      <span class="caption">
        <h4>Try out tools</h4>
        <p>Use interactive data tools to examine issues like the impacts of COVID-19 on different types of jobs.</p>
        <button class="close-button">Find tools</button>
      </span>
  </a>
</div>
<div>
  <a href="{{site.baseurl}}/reports">
      <img src="{{site.baseurl}}/assets/img/layout/reports.png">
      <span class="caption">
        <h4>Read reports and presentations</h4>
        <p>Get information that supports your use of data and provides a deeper understanding of te Ao Māori through the lens of data</p>
        <button class="close-button">Find reports</button>
      </span>
  </a>
</div>
</section>

If you have questions, feedback, or can't find the data you're looking for, email <data@figure.nz>