<section class="content text white-bg">
  <div class="wrapper">
    <div class="two-col-container">
      <div class="two-col-card text">
    <h2>Data is a tāonga.</h2>
    <p>To work towards a better future, we need to understand how and why the world is changing.</p> 
    <p>Data is a vital tool to help us understand, measure, manage, and assess issues and the impact of the changes we make.</p>
    </div>
    <div class="two-col-card">
      <img src="{{site.baseurl}}/assets/img/layout/taonga.jpg">
    </div>
    </div>
  </div>
  </section>
<section class="content text gray-bg">
  <div class="wrapper">
    <div class="two-col-container reverse">
      <div class="two-col-card text">
        <h2>It's about more than the bottom line.</h2>
        <p>For Māori business, Iwi, hapū, and community groups, money isn't everything. It's about people. It's about the land and the water. It's about the future.</p>
      </div>
      <div class="two-col-card">
        <img src="{{site.baseurl}}/assets/img/layout/more.jpg">
      </div>
    </div>
  </div>
</section>
<section class="content categories white-bg">
  <div class="wrapper">
  <h2>Explore data about your community</h2>
  <div class="text">
  <p>{{site.title}} brings together data, tools, and reports on Te Āo Māori. You can access data from reputable sources that is free for you to take and use.</p>
  <p>Dig into data on health, wellbeing, Papatūānuku, and more. Read reports on the value of data to Māoridom, Māori data sovereignty, and other topics. And explore tools and other resources made for or by Māori.</p>
  </div>
  <div class="categories-container">
    <div class="categories-card post-card">
        <div class="categories-image">
          <a href="{{site.baseurl}}/#topics">
          <img src="{{site.baseurl}}/assets/img/layout/explore.png">
          </a>
        </div>
        <div>
          <a href="{{site.baseurl}}/#topics">
          <h4>Explore topics and charts</h4>
          <p>See interactive charts, data sources, definitions, and how and why data was collected. Take and use charts and data for free.</p>
          <button class="close-button">See topics</button>
        </a>
        </div> 
    </div>
    <div class="categories-card post-card">
        <div class="categories-image">
          <a href="{{site.baseurl}}/tools">
          <img src="{{site.baseurl}}/assets/img/layout/tools.png">
          </a>
        </div>
        <div>
          <a href="{{site.baseurl}}/tools">
          <h4>Try out tools</h4>
            <p>Use interactive data tools to examine issues like the impacts of COVID-19 on different types of jobs.</p>
            <button class="close-button">Find tools</button>
          </a>
        </div>
    </div>
    <div class="categories-card post-card">
        <div class="categories-image">
          <a href="{{site.baseurl}}/reports">
          <img src="{{site.baseurl}}/assets/img/layout/reports.png">
          </a>
        </div>
        <div>
          <a href="{{site.baseurl}}/reports">
          <h4>Read reports and presentations</h4>
          <p>Get information that supports your use of data and provides a deeper understanding of Te Āo Māori through the lens of data</p>
          <button class="close-button">Find reports</button>
          </a>
        </div>
    </div>
     <div class="categories-card post-card">
        <div class="categories-image">
          <a href="https://figure.nz/business">
          <img src="{{site.baseurl}}/assets/img/layout/business.png">
          </a>
        </div>
        <div>
          <a href="https://figure.nz/business">
          <h4>Find Business Figures</h4>
          <p>Explore data specific to your industries of work, workforce, and customer base.</p>
          <button class="close-button">Find business figures</button>
        </a>
        </div>
    </div>
  </div>
</div>
</section>