<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ site.title }} - {{ page.display-name | default: page.data | default: page.title }} </title>
    <meta name="description" content="{% if page.isHome != true %}Find and use stats and data about {{page.display-name | default: page.data | default: page.title}} and its Council to help you decide in the 2019 Local Elections{% else %}{{site.description}}{% endif %}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta property="og:site_name" content="{{site.title | xml_escape}}">
    <meta property="og:title" content="{{site.title | xml_escape}}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{site.url | append: page.url | xml_escape}}">
    <meta name="og:description" content="{% if page.isHome != true %}{{site.subtitle-ta | xml_escape}} {{page.display-name | default: page.data | default: page.title}}{% else %}{{site.subtitle | xml_escape}}{% endif %}">
    <meta name="description" content="{% if page.isHome == true %}{{site.subtitle | xml_escape}}{% else %}{{site.subtitle-ta | xml_escape}} {{page.display-name | default: page.data | default: page.title}}{% endif %}">
    <meta name="twitter:site" content="@FigureNZ">
    <meta name="twitter:title" content="{{site.title | xml_escape}}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:description" content="{% if page.isHome == true %}{{site.subtitle | xml_escape}}{% else %}{{site.subtitle-ta | xml_escape}} {{page.display-name | default: page.data | default: page.title}}{% endif %}">
    <meta name="twitter:image" content="{% if page.isHome != true %}{{site.url}}/assets/img/tile/{{page.data}}.jpg{% else %}{{site.url}}/assets/img/tile/nz.jpg{% endif %}" >
    <meta name="apple-mobile-web-app-title" content="{{site.title | xml_escape}}" />
    <link rel="apple-touch-icon" href="{{site.baseurl}}/assets/img/favicons/AppleTouch.png" sizes="180x180">
    <link rel="icon" href="{{site.baseurl}}/assets/img/favicons/32x32.ico" sizes="32x32" type="image/png">
    <link rel="icon" href="{{site.baseurl}}/assets/img/favicons/32x32.ico" sizes="16x16" type="image/png">
    <meta name="theme-color" content="#5461c8">
    <link rel="mask-icon" href="{{site.baseurl}}/assets/img/favicons/safari-pinned-tab.svg" color="#5461c8">
    {% include styles.html %}
</head>
<body>

    <div class="flex-container">
        <header class="main-header">
            <div class="wrapper">
                <div class="header-flex">
                    <div class="menu-icon-container">
                        <span class="menu-icon"><i class="fa fa-bars" aria-hidden="true"></i></span>
                    </div>
                    {% include navigation.html %}
                    <!-- <a href="https://figure.nz"><img class="header-badge" src="{{site.baseurl}}/assets/img/ChartBadge.svg" /></a> -->
                    <p class="logo"><a href="{{site.baseurl}}/">{{site.title}}</a></p>
                <div class="search-icon-container">
                    <span class="search-icon" data-event="search-open-click"><a><i class="fa fa-search" aria-hidden="true"></i></a></span>
                </div>
                </div>
            </div>
        </header>

        <main>
            {% if page.isHome == true %}
            <div class="home-section">  
                    <div class="content wrapper text">
                    <a href="https://figure.nz"><img class="header-badge" src="{{site.baseurl}}/assets/img/ChartBadge.svg" /></a>
                    <h1>{{ page.title }}</h1>
                    <h2>{{ page.subtitle }}</h2>
                    <!-- <img class="hr" src="{{site.baseurl}}/assets/img/layout/kowhaiwhai.png" /> -->
                </div>
            </div>
            <div class="svg-stripe">  
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none" class="svg-stripe hp-topics-svg-top" focusable="false">
                    <polygon fill="#5461c8" points="0,-.5 100,-.5 100,1.5 0,1.5"></polygon>
                    <polygon fill="#5461c8" points="0,1 100,1 0,85"></polygon>
                    <polygon fill="#fbf280" points="0,85 100,1 100,6 0,90"></polygon>
                    <polygon fill="#4db7c6" points="0,90 100,6 100,11 0,95"></polygon>
                    <polygon fill="#ffffff" points="0,95 100,11 100,17 0,100"></polygon>
                </svg>
            </div>
            <div class="content wrapper" id="home">
                {{ content }}
            </div>
            {% else %}
                {{ content }}
            {% endif %}
        
        </main>

        <footer class="main-footer">
            <div class="copyright">
                <p><a href="{{site.baseurl}}{% link about.md %}">About this project</a></p>
                <p>2020 © Figure.NZ, other than images licensed under Creative Commons from <a href="https://www.humaaans.com/">Humaaans</a></p>
            </div>
        </footer>
    </div>

    {% include search.html %}
    {% include scripts.html %}
    {% if site.analytics == true %}
        {% include woopra-analytics.html %}
    {% endif %}
</body>
</html>